 <nav>
    <mat-toolbar color="gray">
       <span>GOKSPEL</span>
       <span class="fill-remaining"></span>
       <!-- <span><mat-icon class="material-icons">home</mat-icon></span> -->
    </mat-toolbar>
 </nav>

 <body class="padding-left2">
    <br>
    <h3><b>Uitleg:</b></h3>
    <p> Het doel van het spel is om het willekeurig gekozen getal te raden (tussen 1-100) binnen de aangegeven tijdslimiet.</p>
    <p> Hier heb je 10 pogingen voor en deze worden steeds aangegeven. De applicatie zal na elke gok een tip geven. </p>
      <!-- , om het spel wat uitdagender te maken zal er ook een <b>tijdslimiet</b> zijn. -->
    <br>
    <aside>
      <!-- <p {{onSetTimer()}}></p> -->
      <!-- <p>{{onSetCounter()}}</p> -->
      <!-- <p>{{log}}</p> -->
      <span *ngIf="secondLocal > 0">
      <p>Je hebt nog {{secondLocal}} over.</p>
    </span>

      <div class="container">
       <div *ngIf="log > 0 && getal != rand && secondLocal >0" class="form-control">
          <input type="number"  matInput min="1" max="100" [(ngModel)]="value" placeholder="getal" class="input-group bg-gray">
          <span matBadge="{{this.log}}" class="badge-info">
            <button type="text" class="btn btn-primary btn-dark mat-raised-button" (click)="onSubmit()">Raden</button>
            </span>
        </div>
        <div>
            <p *ngIf="getal > rand">Het getal is kleiner</p>
            <p *ngIf="getal < rand">Het getal is groter</p>
        </div>
        <div *ngIf="getal == rand">
            <p>Je hebt gewonnen!! 
            <span>
              <mat-icon class="material-icons">
                thumb_up
              </mat-icon>
            </span>
            </p> 
        </div>
        <div *ngIf="secondLocal <= 0 || (getal != rand && log == 0)">
          <p>Je bent spijtig genoeg verloren 
            <span>
              <mat-icon class="material-icons">
                thumb_down
              </mat-icon>
            </span>
          </p> 
      </div> 
      </div>    
      <!-- <div class="container">
        <button type="text" class="btn btn-primary btn-dark mat-raised-button" (click)="onStart()">Spelen</button>
      </div>   -->
    </aside>  
  </body>