 <nav>
    <mat-toolbar color="gray">
       <span>RAADSPEL</span>
       <span class="fill-remaining"></span>
       <!-- <span><mat-icon class="material-icons">home</mat-icon></span> -->
    </mat-toolbar>
 </nav>

 <body class="padding-left2">
    <br>
    <h3><b>Uitleg:</b></h3>
    <p> Het doel van het spel is om het willekeurig gekozen getal te raden (tussen 1-100) binnen de aangegeven tijdslimiet.</p>
    <p> Hier heb je 10 pogingen voor en deze worden steeds aangegeven. De applicatie zal na elke gok een tip geven. </p>
    <br>
    <aside>
      <!-- <p {{onSetTimer()}}></p> -->
      <!-- <p>{{onSetCounter()}}</p> -->
      <!-- <p>{{log}}</p> -->
      <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh;" class="container">
        <div fxflex="100" fxLayout="column" fx *ngIf="secondLocal > 0">
            <p>Je hebt nog {{secondLocal}} over.</p>
        </div>

     
       <div fxLayout="row wrap" *ngIf="log > 0 && getal != rand && secondLocal >0" class="form-control">
        <div fxflex="50" fxLayout="column" fxFlex.lt-md="95" >
          <input type="number"  matInput min="1" max="100" [(ngModel)]="value" placeholder="getal" class="input-group bg-gray">
        </div>  
        <div fxflex="50" fxLayout="column" fxFlex.lt-md="95"> 
          <span matBadge="{{this.log}}" class="badge-info">
            <button type="text" class="btn btn-primary btn-dark mat-raised-button" fxLayout="column" fxFlex.lt-md="100" fxf (click)="onSubmit()">Raden</button>
            </span>
          </div> 
        </div>
        <div fxLayout="column" fxFlex.lt-md="80">
            <p *ngIf="getal > rand">Het getal is kleiner</p>
            <p *ngIf="getal < rand">Het getal is groter</p>
        </div>
        <div *ngIf="getal == rand" fxLayout="column" fxFlex.lt-md="20">
            <p>Je hebt gewonnen!! 
            <span>
              <mat-icon class="material-icons">
                thumb_up
              </mat-icon>
            </span>
            </p> 
        </div>
     
        <div *ngIf="getal != rand && secondLocal <= 0 || (getal != rand && log == 0)" fxLayout="column" fxFlex.lt-md="80">
          <p>Je bent spijtig genoeg verloren 
            <span>
              <mat-icon class="material-icons" fxLayout="column" fxFlex.lt-md="20">
                thumb_down
              </mat-icon>
            </span>
          </p> 
      </div> 
      </div>    
    </aside>  
  </body>